.table-container {
    display: flex;
    justify-content: center;
  }
  
  .styled-table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }